
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 344 89% 98%;
    --foreground: 344 60% 20%;

    --card: 0 0% 100%;
    --card-foreground: 344 60% 20%;

    --popover: 0 0% 100%;
    --popover-foreground: 344 60% 20%;

    --primary: 344 82% 70%;
    --primary-foreground: 0 0% 100%;

    --secondary: 180 26% 62%;
    --secondary-foreground: 0 0% 100%;

    --muted: 344 20% 95%;
    --muted-foreground: 344 30% 40%;

    --accent: 180 40% 90%;
    --accent-foreground: 180 50% 30%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 344 70% 90%;
    --input: 344 70% 90%;
    --ring: 344 82% 70%;

    --radius: 1rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
    font-family: 'Roboto', sans-serif;
  }
}
